@font-face{
  font-family: 'PixelOperatorMono';
  src: url('../fonts/PixelOperatorMono8.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* @font-face{
  font-family: '8BitOperator';
  src: url('../fonts/8bitoperator_jve.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */
